# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\mgarb\OneDrive\Dokumenty\Programming\Python\Projects\E_smartdata\200_ćwiczeń_od_A_do_Z\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
